::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-thumb {
  background: #4e316e;
  border-radius: 10px;
}
html {
  -webkit-tap-highlight-color: rgb(25, 7, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  background: #1c0600;
  overflow: hidden;
  background-image: "";
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
